@import "styles/mixins";

.root {
  z-index: 10;
  position: absolute;
  width: 50vw;
  height: 100vh;
  min-height: 800px;
  left: 0;
  top: 0;
  background-color: var(--main);
  padding: 30px 80px 110px 80px;
  color: var(--text-primary);
  transition: all .3s ease-in-out;
  box-shadow: 0 0 40px 50px var(--main);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  @media (max-width:1000px){
    width: 100vw;
    padding: 30px 15px 40px;
  }
}
.mapHider{
  position: absolute;
  display: block;
  top:0;
  right:0;
  width: 50vw;
  height: 100vh;
  z-index: 999999999999999;
  @media (max-width:1000px){
    display: none;
  }
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  @include states();
  @media (max-width:1000px){
      margin:0 0 20px 10px;
  }
}

.fullScreen {
  width: 100vw;
  @include bgTransparent();
}
