@import "styles/mixins.scss";

.root {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.menuItem {
  text-transform: lowercase;
  font-size: 20px;
  line-height: 24px;
}

.link {
  font-size: 20px;
  line-height: 24px;
  padding: 10px;

  @include states();
}
