@import "styles/mixins";

.root {
  position: relative;
  height: 100vh;
  min-height: 800px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  background: var(--secondary);
  align-items: center;
  color: var(--text-primary);
  font-size: 16px;
  justify-content: space-between;
  @media (max-width:1000px){
    flex-direction: column;
    padding: 40px 15px;
  }
}

.logo {
  fill: white;
  //width: 146px;
  //height: 96px;
}

.footerMenu {
  display: flex;
  justify-content: center;
  gap: 160px;
  @media (max-width:1000px){
    flex-direction: column;
    gap: 100px;
  }
}

.menuBlock, .nestedMenuList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width:1000px){
    flex-direction: column;
  }
}

.menuBlockTitle {
  padding-left: 5px;
  font-weight: 600;
  @include fontInter();
}

.link {
  @include states();
  padding: 5px;
  @include fontInter();
}