@import "styles/mixins";

.root {
  position: relative;
  height: 100vh;
  padding: 25px 80px 110px 80px;
  display: flex;
  flex-direction: column;
  @media (max-width:1000px){
    padding: 25px 15px 110px;
    gap: 100px
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   background-image: url("/images/heroBg.png");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   min-height: 800px;
  //   z-index: 0;
  // }

  // &:after {
  //   position: absolute;
  //   content: '';
  //   background-image: url("/images/noise.webp");
  //   background-size: cover;
  //   background-repeat: repeat;
  //   bottom: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   min-height: 800px;
  //   opacity: 0.4;
  //   z-index: 1;
  // }
}

.header {
  z-index: 10;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  height: 100%;
  position: relative;
  z-index: 10;
  @media (max-width:1000px){
    display: flex;
    flex-direction: column;
  }

}

.title {
  margin-top: auto;
  color: var(--text-primary);
  line-height: 192px;
  grid-row: 1/3;
  @include fontZero();
  @media (max-width:1000px){
    font-size: 75px;
    line-height: 80px;
  }
}

.descriptionContainer {
  padding-top: 60px;
  text-align: right;
  @media (max-width:1000px){
    padding: 0;
  }
}

.descriptionText {
  color: var(--text-light);
  line-height: 19px;
  font-size: 16px;
  margin-bottom: 65px;
  @media (max-width:1000px){
    margin-bottom: 25px;
  }
}

.caption {
  color: var(--caption);
  @media (max-width:1000px){
    color: var(--text-light);
  }
}

.nextSlideButton {
  height: 182px;
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 50%;
  margin-left: auto;
  margin-top: auto;

  @include states();
  @media (max-width:1000px){
    height: 100px;
    width: 100px;
  }
}
