@import "styles/mixins";

.root {
  position: relative;
  height: 100vh;
  min-height: 800px;
  padding: 60px 50px 80px 80px;
  display: flex;
  flex-direction: column;
  background: var(--main);
  @media (max-width:1000px){
    padding: 30px 15px 40px;
    
  }
}

.title {
  @include textGradient();
  @include fontZero();
  margin: 0 auto 90px;
  transition: all .3s ease-in-out;
  @media (max-width:1000px){
    font-size: 50px;
    margin: 0 auto;
  }
}

.content {
  display: flex;
  gap: 70px;
  @media (max-width:1000px){
    flex-grow: 3;
    flex-direction: column-reverse;
    gap: 20px
  }

}

