@import "styles/mixins";

.root {
  position: relative;
  height: 100vh;
  min-height: 800px;
  padding: 60px 50px 80px 80px;
  display: flex;
  flex-direction: column;
  background: var(--main);
}

.title {
  @include textGradient();
  @include fontZero();
  margin: 0 auto 90px;
}

.content {
  display: flex;
  gap: 70px;
}

