@import "styles/mixins.scss";

.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-text);
  z-index: 11;
  @media (max-width:1000px){
    width: 100%;
  }
}

.logoLink {
  cursor: pointer;
  padding: 10px;

  @include states();
}

.navBar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  @media (max-width:1000px){
    top: 130%;
  }
}