@import "styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 100px;
  @media (max-width:1000px){
  padding: 0;
  }
}

.actionTitle {
  color: var(--accent);
  font-size: 25px;
  line-height: 31px;
  @include fontSixty();
  @media (max-width:1000px){

  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  @media (max-width:1000px){
    gap: 5px;
  }
}

.itemLabel {
  position: relative;
  color: var(--text-primary);
  font-size: 40px;
  line-height: 48px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  @include states();

  &:before {
    content: "";
    height: 22px;
    width: 22px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    margin-top: 10px;
  }

  &:after {
    display: none;
    content: "";
    position: absolute;
    left: 17px;
    top: 35px;
    height: 8px;
    width: 8px;
    background: var(--accent);
    border-radius: 50%;
    //margin-top: 10px;
  }

  @media (max-width:1000px){
    font-size: 30px;
    padding: 0;
  }
}

.itemRadio:checked + .itemLabel:after {
  display: block;
}

.itemDisabled {
  opacity: 0.3;

  .itemLabel {
    &:hover, &:active {
      opacity: 1;
    }
  }
}