@import "styles/mixins.scss";

.root {
  font-size: 20px;
  line-height: 24px;
  border: 2px solid var(--header-text);
  padding: 11px 29px;
  border-radius: 25px;
  @include states();
  @media (max-width:1000px){
    width: max-content;
    padding: 10px 10px 14px;
    line-height: 20px;
  }
}

.connectedRoot {
  font-size: 20px;
  line-height: 24px;
  border: 2px solid var(--header-text);
  padding: 11px 29px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  @include states();
}

.connectedButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  
}
