@font-face {
  font-family: "Namu-zero";
  src: url("/fonts/namu/namu1400.woff2") format("woff2"),
  url("/fonts/namu/namu1400.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Namu-thirty";
  src: url("/fonts/namu/namu1930.woff2") format("woff2"),
  url("/fonts/namu/namu1930.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Namu-sixty";
  src: url("/fonts/namu/namu1960.woff2") format("woff2"),
  url("/fonts/namu/namu1960.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: "Nanu";
//  src: url("/fonts/namu/namu1930.woff2") format("woff2"),
//  url("/fonts/namu/NAMU-1938.woff") format("woff");
//  font-weight: 700;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: "Nanu";
//  src: url("/fonts/namu/namu1960.woff2") format("woff2"),
//  url("/fonts/namu/namu1960.woff") format("woff");
//  font-weight: 700;
//  font-style: normal;
//  font-display: swap;
//}
