@import "fonts.scss";

@mixin textGradient() {
  background: linear-gradient(180deg, #74C1EF 19.7%, #FAE992 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bgBlur() {
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(11.0112px);
}

@mixin bgTransparent() {
  background: rgba(29, 29, 29, 0.5);
  backdrop-filter: blur(20px);
}

@mixin fontZero() {
  font-family: 'Namu-zero', sans-serif;
}

@mixin fontThirty() {
  font-family: 'Namu-thirty', sans-serif;
}

@mixin fontSixty() {
  font-family: 'Namu-sixty', sans-serif;
}

@mixin fontInter() {
  font-family: 'Inter', sans-serif;
}

@mixin states() {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}