@import "fonts.scss";

html {
  scroll-behavior: smooth;
}

html * {
  font-family: 'Namu-sixty', sans-serif !important;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  //color: var(--text-secondary);
}

h1 {
  font-size: 160px;
  color: var(--text-primary);
}

h2 {
  font-size: 112px;
  //color: var(--text-primary);
}

h3 {
  font-size: 24px;
}